* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
  transition: background-color 0.25s ease-out;
}

.add-form__container {
  width: 100%;
  display: flex;
  padding: 1.2rem;
  background-color: #dee4e7;
  margin-bottom: 1.2rem;
  flex-direction: column;
}

.add-form__input {
  flex-grow: 1;
  background-color: #37474f;
  color: #fff;
  border: none;
  border-bottom: 0.3rem solid #222c31;
  margin: 0 0 1.2rem 0;
  padding: 1.2rem;
  font-family: "Monsterrat", sans-serif;
  font-size: 1.6rem;
}

.add-form__input::placeholder {
  color: #fff;
}

.add-form-button {
  background-color: #dee4e7;
  border: none;
  font-family: "Ranchers", cursive;
}

.add-form-error-text {
  padding: 1.6rem;
  font-size: 1.6rem;
  font-family: "Monsterrat", sans-serif;
  text-align: center;
  background-color: #dee4e7;
}

.add-form-error-text__dark {
  background-color: #37474f !important;
}

@media (min-width: 45rem) {
  .add-form__container {
    flex-direction: row;
  }

  .add-form__input {
    margin: 0 1.2rem 0 0;
  }
}
.button__big {
  background-color: #37474f;
  width: 100%;
  border: none;
  border-bottom: 0.6rem solid #698390;
  color: #dee4e7;
  font-weight: bold;
  font-size: 3.2rem;
  padding: 1.6rem;
  text-transform: uppercase;
  font-family: "Ranchers", cursive;
  letter-spacing: 0.3rem;
}

.button__big_dark {
  background-color: #dee4e7;
  width: 100%;
  border: none;
  border-bottom: 0.6rem solid #698390;
  color: #37474f;
  font-weight: bold;
  font-size: 3.2rem;
  padding: 1.6rem;
  text-transform: uppercase;
  font-family: "Ranchers", cursive;
  letter-spacing: 0.3rem;
}

.button__big:disabled {
  opacity: 0.7;
}

.button {
  border: none;
  padding: 1.6rem;
  text-transform: uppercase;
  background-color: #37474f;
  font-family: "Ranchers", cursive;
  color: #fff;
}

.button--link-dark {
  color: #fff !important;
}

.button:hover {
  text-decoration: underline;
}

.button--link {
  background: none;
  border: none;
  padding: 0;
  color: #000;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.header {
  margin-bottom: 1.6rem;
  padding: 1.6rem 0;
  font-family: "Monsterrat", sans-serif;
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.darkHeader {
  color: #fff;
}

.lightHeader {
  color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #37474f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #dee4e7;
}

input:checked + .slider:before {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header__icon {
  position: absolute;
  top: 5px;
  left: -25px;
  font-size: 2.4rem;
}

.option {
  width: 100%;
  background-color: #dee4e7;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  border-bottom: solid 0.3rem #c0ccd2;
}

.option-dark {
  background-color: #37474f;
}

.option-text {
  font-size: 3.2rem;
  padding: 0.6rem;
  font-family: "Monsterrat", sans-serif;
}

.options__widget-body {
  font-size: 1.6rem;
  padding: 1.6rem;
  font-family: "Monsterrat", sans-serif;
  text-transform: uppercase;
}

.options__widget {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #dee4e7;
  padding: 0.6rem 0.6rem 0;
  border-bottom: solid 0.6rem #c0ccd2;
}

.options__widget-dark {
  background-color: #37474f;
  border-bottom: solid 0.6rem #c0ccd2;
}

.options__widget-title {
  font-size: 1.6rem;
  font-family: "Monsterrat", sans-serif;
  padding: 1.6rem;
}

.options__widget-body {
  font-size: 1.6rem;
  font-family: "Monsterrat", sans-serif;
  text-align: center;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: #dee4e7;
  color: #000;
  max-width: 30rem;
  outline: none;
  padding: 3.2rem;
  text-align: center;
  font-family: "Monsterrat", sans-serif;
}

.modal-dark {
  color: #fff !important;
  background: #37474f !important;
}

.modal__title {
  margin: 0 0 3.2rem;
  font-size: 3.2rem;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1.6rem;
  word-break: break-all;
}

/*# sourceMappingURL=style.css.map */
